		
.parent{
	display: flex;
	justify-content: space-between;
	max-width: 100vw;
	max-height: 100vh;
}
.child{
	width: 100vw;
	height: 100vh;
}
.child2{
	background-color:rgb(80, 00, 85);
	place-items: center;
	display: grid;
}
.button{
	background-color:darkorchid ;
	border-radius: 5px;
	color: whitesmoke;
	border-color: darkorchid;
	height: 25px;
	width: 60px;
}
.input:hover{
	border-color: mediumpurple;
	border-radius: 5px;
}

.dot{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: ghostwhite;
	display:inline-block;
}